@font-face {
    font-family: rijksoverheidSansHeading;
    src: url("media/font/rijksoverheidsansheading-bold.ttf");
}
@font-face {
    font-family: rijksoverheidSansText;
    src: url("media/font/rijksoverheidsanstext-regular.ttf");
}
@font-face {
    font-family: rijksoverheidSans;
    src: url("media/font/rijksoverheidserif-regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
    font-family: rijksoverheidSansText;
}

h1 {
    font-family: rijksoverheidSansHeading;
}
.logo {
    background-color: #FFF;
}
.logo img{
    max-height:  10vh;
    margin: 10px;
}

.header {
    display: flex;
    text-align: center;
    background-color: #FFF;
    color: #2F767E;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 20px #0000001a;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: url("media/lcf.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
}

.sectionContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 3px 20px #0000001a;
}

.sectionButton  button{
    background-color: #2F767E;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: center;
    max-height: 500px;
    margin: 20px auto;
}

canvas {
    border: solid 1px black;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFF;
    background-color: #2F767E;
    padding: 2vh 2vw 5vh 2vw;
    margin-top: 25vh;
}

.footerText {    
    display: flex;
    justify-content: space-between;
    align-items: center;
}