/* Keyframes */
@keyframes sunkAnimation {
    from {fill: yellow;}
    to {fill: red;}
  }

/* game styling */
:root {
    --board-width: 400px;
}

.gameInfo {
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
}

#gameContainer {
    width: 95%;
    margin: auto;
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s ease-in-out;
}

#gameContainer button {
    margin-top: 0px;
    background-color: #0a9bd8;
    color: black;
}

.gameContainer .container p{
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
}
.playerPanel {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
}
.playerPanel.turn .boardTitle {
    border-bottom: solid 2px white;
}
.panelHeader {
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.panelHeader .boardTitle {
    font-size: 14pt;
    width: var(--board-width);
    padding-bottom: 8px;
    height: fit-content;
}
.panelContent {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.panelFooter {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.panelFooter .boardPadding {
    width: var(--board-width);
    margin-left: 16px;
}

.shipList {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    column-gap: 0;
}

#gamesBoardContainer {
    display: flex;
}

/* player panel */
#playerSide,
#playerSide .panelHeader {
    justify-content: flex-end;
}
/* computer panel */
#computerSide,
#computerSide.panelHeader {
    justify-content: flex-start;
}

#playerSide .shipList {
    align-items: end;
    padding-right: 16px;
}

/* rotated*/
#playerSide .shipList.vertical {
    transform-origin: center;
    transform: rotate(-90deg) translateY(-40px);
}

/* computer panel */
#computerSide .shipList {
    align-items: start;
    padding-left: 16px;
    pointer-events: none;
}
#computerSide .shipList svg {
    transform: scaleX(-1);
    pointer-events: none;
}

.gameBoard {
    width: var(--board-width);
    height: var(--board-width);    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
}

.block {
    width: 40px;
    height: 40px;
    border: solid 1px white;
    box-sizing: border-box;
    box-shadow: 0 0 8px #0a9bd8aa;

}

.container{
    width: 400px;
    margin: 10px 10px;
    padding-top: 10px;
    background-color: var(--content-background-color);
    box-shadow: 0 0 8px black;
    display: block;
}

#flipButton {
    width: 40px;
    margin: 25px 10px;
    overflow: hidden;
    /* margin: 10px 10px; */
}

#gameContainer.playing #computer:hover {
    cursor: url('../media/gunpointer.png')17.5 17.5, auto;
    /* background-color: white; */
}

#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
    background-color: var(--backgroundColor);
}

#gameContainer.playing #computer .block:hover {
    border: solid yellow 7px;
}

.hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.hover.error {
    background-color: rgba(255, 60, 60, 0.8) !important;
}

#player div {
    transition: background-color 200ms;
    transition-delay: 50ms;
}

.boom {
    background-image: url('../media/boom.gif') !important;
    background-size: cover;
    background-position: center;
    pointer-events: none;
}

.empty {
    pointer-events: none;
    background-image: url('../media/empty.gif') !important;
    background-size: cover;
    background-position: center;
}

.sunk {
    border-color: red!important;
}
.sunk svg #omtrek {
    fill: red;
    animation-name: sunkAnimation;
    animation-duration: 4s;
}

.shipLists {
    display: flex;
    justify-content:space-between;
    color: white;
    background-color: var(--content-background-color);
    padding: 10px;
    pointer-events: none;
    /* display: none; */
}
.shipLists p{
    padding-bottom: 10px;
    font-weight: bold;
}

#gameContainer.setup #computerSide .shipList div {
    background-color: var(--content-background-color);
    border-color: black;
}

#gameContainer.setup #computerSide .shipList svg #omtrek {
    fill: black;
}

#gameContainer.set #computer {
    pointer-events: none;
}