/* Font import */

@font-face {
    font-family: rijksoverheidSansHeading;
    src: url("../media/font/rijksoverheidsansheading-bold.ttf");
}

@font-face {
    font-family: rijksoverheidSansText;
    src: url("../media/font/rijksoverheidsanstext-regular.ttf");
}

@font-face {
    font-family: rijksoverheidSans;
    src: url("../media/font/rijksoverheidserif-regular.ttf");
}

/* Main styling */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    font-family: rijksoverheidSansText;
}

h1 {
    font-family: rijksoverheidSansHeading;
}

/* Header styling */

.logo {
    background-color: #fff;
}

.logo img {
    max-height: 10vh;
    margin: 10px;
}

.header {
    display: flex;
    text-align: center;
    background-color: #fff;
    color: #2f767e;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 20px #0000001a;
}

/* Section styling */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url("../media/lcf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sectionContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 3px 20px #0000001a;
}

.sectionButton button {
    background-color: #2f767e;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer styling */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    background-color: #2f767e;
    padding: 2vh 2vw 5vh 2vw;
    margin-top: 25vh;
}

.footerText {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Progess bar result page */

progress {
    border: none;
    width: 300px;
    height: 10px;
    background: crimson;
}

progress {
    color: #2f767e;
}

progress::-webkit-progress-value {
    background: #2f767e;
}

progress::-moz-progress-bar {
    background: #2f767e;
}

/* game styling */

/* .grid {
    width: 50vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(10, 20px);
    grid-gap: 40px;
    margin: 0 auto;
    max-width: 500px;
}

.grid-item {
    background-color: #eee;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    height: 50px;
    width: 50px;
} */

.gameContainer {
    width: 500px;
    margin: auto;
    padding: 10%;
    text-align: center;
}



#gamesBoardContainer {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.gameBoard {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 20px;
    height: 20px;
    border: solid 1px black;
    box-sizing: border-box;
}


.optionContainer {
    width: 500px;
    height: 60px;
    margin: 30px 0;
    background-color: grey;
    display: flex;
    align-items: center;
}

.destroyer {
    background-color: brown;
}

.submarine {
    background-color: green;
}

.cruiser {
    background-color: purple;
}

.battleship {
    background-color: orange;
}

.carrier {
    background-color: blue;
}

.destroyerPreview {
    width: 20px;
    height: 10px;
    margin: 3px;
    cursor: grab;
}
.submarinePreview {
    width: 30px;
    height: 10px;
    margin: 3px;
}
.cruiserPreview {
    width: 30px;
    height: 10px;
    margin: 3px;
}
.battleshipPreview {
    width: 40px;
    height: 10px;
    margin: 3px;
}
.carrierPreview {
    width: 50px;
    height: 10px;
    margin: 3px;
}

#computer:hover {
    cursor: crosshair;
}

#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
    background-color: lightgrey;
}




.hover {
    background-color: black;
}

.boom {
    background-color: red !important;
}

.empty {
    background-color: white !important;
    pointer-events: none;
}