:root {
    --backgroundColor: transparent;
    --body-background-color: #1d242c;
    --content-background-color: #292f37;
    --guardion-blue: #0a9bd8;
    --button-border-radius: 4px;
    --button-height: 42px;
}

/* Media Queries */
@media screen and (min-width: 2560px) {
    #gamesBoardContainer {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    #startButton {
        margin-right: 50%;
    }


    #gameInfo .text {
        width: 50%;
    }
    #infoSpacer {
        width: 50%;
        height: 16px;
    }
    #gameInfo
    { 
        flex-direction: row !important;
    }

    .infoContainer {
        width: 50%;
        justify-content: left;
    }

    .modal {
        padding-left: 50%;
    }

    .section {
        padding-left: 50%;
    }

    .sectionContainer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .titleContainer {
        width: 50%;
        font-size: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titleContainer h1 {
        font-size: 7vw;
    }

    .rulesContainer {
        width: 25%;
        display: block !important;
        margin: auto auto;
        padding: 80px;
        background-color: var(--content-background-color);
        border-radius: 8px;
    }

    .rulesContainer h2 {
        font-size: 64px;
        margin-bottom: 30px;
    }
    .rulesContainer .ruleText {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .rulesContainer .rule {
        padding-bottom: 16px;
        display: flex;
        flex-direction: row;
        
    }
    .rulesContainer .ruleNumber {
        font-size: 80px;
        font-weight: bold;
        padding-right: 16px;
        margin-top: -11px;
        color: var(--guardion-blue);
    }
    .rulesContainer .ruleHeader {
        font-size: 36px;
        font-weight: bold;
    }
    .rulesContainer .ruleExplainer {
        font-size: 20px;
    }
}


/* Font import */

@font-face {
    font-family: rijksoverheidSansHeading;
    src: url("../media/font/rijksoverheidsansheading-bold.ttf");
}

@font-face {
    font-family: rijksoverheidSansText;
    src: url("../media/font/rijksoverheidsanstext-regular.ttf");
}

@font-face {
    font-family: rijksoverheidSans;
    src: url("../media/font/rijksoverheidserif-regular.ttf");
}

/* Main styling */

* {
    margin: 0;
    padding: 0;
}

table h1 {
    font-size: 11vw;
}

body {
    background-color: var(--body-background-color);
    font-family: Roboto, Arial;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    overflow-y: hidden;
}

button,
.button {
    background-color: var(--guardion-blue);
    border: none;
    color: black;
    padding: 8px;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    text-align: center;
    border-radius: var(--button-border-radius);
    box-shadow: 0px 2px 4px black;
    cursor: pointer;
    height: var(--button-height);
}
button img {
    height: 24px;
    margin-right: 8px;
}

table {
    margin: auto auto 10px;
    color: white;
}

td {
    padding: 20px;
}

.sectionButton {
    display: flex;
    margin: 0 auto auto;
}

.sectionButton .button {
    margin: 0 auto auto;
    height: 50%;
}

/* Header styling */

.header {
    display: flex;
    flex-shrink: 0;
    height: 60px;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80px;
    padding-left: 16px;
    padding-right: 16px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: none;
    color: #0a9bd8;
}

.headerLogo {
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    font-size: 20px;
}

.infoButton img {
    margin: auto;
    height: var(--button-height);
    border-radius: 20px;
}

.returnButton img {
    background-color: var(--guardion-blue);
    margin: auto;
    height: var(--button-height);
    border-radius: 20px;
}


#resetButton {
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px 5px;
    margin: 5px 5px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

#resetButton:hover {
    color: #0a9bd8;
}

/* Section styling */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    /* background-image: url("../media/backgroundShips.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.sectionContent {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--content-background-color);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 3px 20px #0000001a;
}

.sectionContent img {
    border-radius: 8px;
}

#redirectMessage {
    margin-top: 16px;
    margin-bottom: 16px;
}

.statsHeader {
    font-size: 16px;
    font-weight: bold;
    padding-top: 64px;
    padding-bottom: 8px;
}
.gameStatistics {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    padding: 8px;
}

.gameStatistics td {
    padding: 2px 8px;
}

/* Progess bar result page */

progress {
    border: black 2px solid;
    border-radius: 10px;
    width: 300px;
    height: 20px;
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

progress::-webkit-progress-value {
    background: var(--guardion-blue);
    border-radius: 15px;
}

.flex {
    display: flex;
}

.hide {
    display: none;
}

.draggable {
    user-select: all;
    -webkit-user-select: all;
    -webkit-user-drag: element;
}


/* Info */

.infoHeaderText {
    text-align: center;
    margin: 5vh;
}


.infoPreview svg #omtrek {
    fill: grey;
}

.infoPreview {
    border-color: grey;
}

.shipInfoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.shipInfoContainer div {
    width: 30%;
}

.shipInfoContainer img:hover {
    filter: invert(100);
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 50%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    color: black;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.modal-header {
    margin-bottom: 16px;
}

.modal-actual-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-content img {
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.rulesContainer {
    display: none;    
}

/*win-lose screens*/
.sectionText p {
    padding-top: 16px;
}

#duckyExplainer:hover,
#duckyExplainer:focus {
    cursor: pointer;
    color: var(--guardion-blue);
    font-weight: bold;
}
#duckyExplainerModal img {
    width: 50%;
    height: 50%;
}

#duckyExplainerModal ol {
    list-style-position: inside;
}
#duckyExplainerModal p {
    margin-bottom: 16px;
    width: 100%
}