:root {
    --backgroundColor: transparent;
    --body-background-color: #1d242c;
    --content-background-color: #292f37;
    /* ship color */
    --color-destroyer: #3FA7A7;
    --color-submarine: #2196F4;
    --color-cruiser: #4B40BF;
    --color-battleship: #9540BF;
    --color-carrier: #74A145;
  }

/* Font import */

@font-face {
    font-family: rijksoverheidSansHeading;
    src: url("../media/font/rijksoverheidsansheading-bold.ttf");
}

@font-face {
    font-family: rijksoverheidSansText;
    src: url("../media/font/rijksoverheidsanstext-regular.ttf");
}

@font-face {
    font-family: rijksoverheidSans;
    src: url("../media/font/rijksoverheidserif-regular.ttf");
}

/* Main styling */

* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

table h1 {
    font-size: 11vw;
}

body {
    background-color: var(--body-background-color);
    font-family: Roboto, Arial;
    color:white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

button, .button {
    background-color: #0a9bd8;
    border: none;
    color: black;
    padding: 8px 32px;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

table {
    margin: auto auto 10px;
    color:white;
}

td {
    padding: 20px;
}

.sectionButton {
    display: flex;
    margin: 0 auto auto;
}

.sectionButton .button {
    margin: 0 auto auto;
    height: 50%;
}

/* Header styling */

.header {
    display: flex;
    flex-shrink: 0;
    height: 40px;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.header nav {
    display: flex;
    position: relative;
    height: 40px;
}

.headerLogo {
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    font-size: 14px;
}

/* Section styling */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    /* background-image: url("../media/backgroundShips.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.sectionContent {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--content-background-color);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 3px 20px #0000001a;
}

/* Progess bar result page */

progress {
    border: black 2px solid;
    border-radius: 10px;
    width: 300px;
    height: 20px;
}
progress::-webkit-progress-bar {
    background-color: transparent;
}

progress::-webkit-progress-value {
    background: #0a9bd8;
    border-radius: 15px;
}

/* game styling */

.gameInfo {
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
}

.gameContainer {
    width: 1000px;
    margin: auto;
    padding: 2%;
    text-align: center;
}

.gameContainer button {
    margin-top: 0px;
    background-color: #0a9bd8;
    color: black;
}

.gameContainer .container p{
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

#gamesBoardContainer {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.gameBoard {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.block {
    width: 40px;
    height: 40px;
    border: solid 1px white;
    box-sizing: border-box;
    box-shadow: 0 0 8px #0a9bd8aa;

}

.optionContainer {
    width: 300px;
    height: 90px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
}

.container{
    width: 400px;
    /* height: 80px; */
    /* height: 150px; */
    margin: 10px 10px;
    padding-top: 10px;
    background-color: var(--content-background-color);
    box-shadow: 0 0 8px black;
}

#flipButton {
    width: 40px;
    margin: 25px 10px;
    overflow: hidden;
    /* margin: 10px 10px; */
}

/* #player .taken {
    box-shadow: 0 0 8px #ffffffaa;
    z-index:500;
} */

/* SHIPS */
/*destroyer*/
#player .destroyer {
    box-shadow: 0 0 8px var(--color-destroyer);
}
.destroyer {
    background-color: var(--color-destroyer);
}
.destroyerPreview {
    width: 40px;
    height: 20px;
    margin: 3px;
    cursor: grab;
}

/*submarine*/
#player .submarine {
    box-shadow: 0 0 8px var(--color-submarine);
}
.submarine {
    background-color: var(--color-submarine);
}
.submarinePreview {
    width: 60px;
    height: 20px;
    margin: 3px;
    cursor: grab;
}

/*cruiser*/
#player .cruiser {
    box-shadow: 0 0 8px var(--color-cruiser);
}
.cruiser {
    background-color: var(--color-cruiser);
}
.cruiserPreview {
    width: 60px;
    height: 20px;
    margin: 3px;
    cursor: grab;
}

/*battleship*/
#player .battleship {
    box-shadow: 0 0 8px var(--color-battleship);
}
.battleship {
    background-color: var(--color-battleship);
}.battleshipPreview {
    width: 80px;
    height: 20px;
    margin: 3px;
    cursor: grab;
}

/*carrier*/
#player .carrier {
    box-shadow: 0 0 8px var(--color-carrier);
}
.carrier {
    background-color: var(--color-carrier);
}
.carrierPreview {
    width: 100px;
    height: 20px;
    margin: 3px;
    cursor: grab;
}

#computer:hover {
    cursor: url('../media/gunpointer.png')17.5 17.5, auto;
    /* background-color: white; */
}

#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
    background-color: var(--backgroundColor);
}

#computer .block:hover {
    border: solid white 7px;
}

.hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#player div {
    transition: background-color 200ms;
    transition-delay: 50ms;
}

.boom {
    background-image: url('../media/boom.gif') !important;
    background-size: cover;
    background-position: center;
    pointer-events: none;
}

.empty {
    pointer-events: none;
    background-image: url('../media/empty.gif') !important;
    background-size: cover;
    background-position: center;
}

.sunk {
    background-color: red!important;
}

.shipLists {
    display: flex;
    justify-content:space-between;
    color: white;
    background-color: var(--content-background-color);
    padding: 10px;
    pointer-events: none;
}
.shipLists p{
    padding-bottom: 10px;
    font-weight: bold;
}
.flex {
    display: flex;
}

.hide {
    display: none;
}