/* Font import */

@font-face {
    font-family: rijksoverheidSansHeading;
    src: url("../media/font/rijksoverheidsansheading-bold.ttf");
}

@font-face {
    font-family: rijksoverheidSansText;
    src: url("../media/font/rijksoverheidsanstext-regular.ttf");
}

@font-face {
    font-family: rijksoverheidSans;
    src: url("../media/font/rijksoverheidserif-regular.ttf");
}

/* Main styling */

* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body {
    background-color: rgb(29, 36, 44);
    font-family: Roboto, Arial;
}

button {
    background-color: #4EF2F6;
    border: none;
    color: black;
    padding: 8px 32px;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

/* Header styling */

.header {
    display: flex;
    flex-shrink: 0;
    height: 40px;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.header nav {
    display: flex;
    position: relative;
    height: 40px;
}

.headerLogo {
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    font-size: 14px;
}

/* Section styling */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    /* background-image: url("../media/lcf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.sectionContent {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(41, 47, 55);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 3px 20px #0000001a;
}

/* Progess bar result page */

progress {
    border: black 2px solid;
    border-radius: 10px;
    width: 300px;
    height: 20px;
}
progress::-webkit-progress-bar {
    background-color: transparent;
}

progress::-webkit-progress-value {
    background: #2f767e;
    border-radius: 15px;
}

/* game styling */

.gameInfo {
    font-size: 30px;
    margin-bottom: 30px;
    color: white;
}

.gameContainer {
    width: 1000px;
    margin: auto;
    padding: 2%;
    text-align: center;
}

.gameContainer button {
    margin-top: 0px;
    background-color: #4EF2F6;
    color: black;
}

#gamesBoardContainer {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.gameBoard {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 40px;
    height: 40px;
    border: solid 1px black;
    box-sizing: border-box;
}


.optionContainer {
    width: 400px;
    height: 60px;
    margin: 30px 0;
    background-color: rgb(41, 47, 55);
    display: flex;
    align-items: center;
}

.destroyer {
    background-color: #3FA7A7;
}

.submarine {
    background-color: #2196F4;
}

.cruiser {
    background-color: #4B40BF;
}

.battleship {
    background-color: #9540BF;
}

.carrier {
    background-color: #74A145;
}

.destroyerPreview {
    width: 20px;
    height: 10px;
    margin: 3px;
    cursor: grab;
}

.submarinePreview {
    width: 30px;
    height: 10px;
    margin: 3px;
    cursor: grab;
}

.cruiserPreview {
    width: 30px;
    height: 10px;
    margin: 3px;
    cursor: grab;
}

.battleshipPreview {
    width: 40px;
    height: 10px;
    margin: 3px;
    cursor: grab;
}

.carrierPreview {
    width: 50px;
    height: 10px;
    margin: 3px;
    cursor: grab;
}

#computer:hover {
    cursor: url('../media/gunpointer.png')17.5 17.5, auto;
    background-color: white;
}

#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
    background-color: lightblue;
}

#computer .block:hover {
    border: solid white 5px;
}


.hover {
    background-color: black;
}

.boom {
    background-image: url('../media/boom.gif') !important;
    background-size: cover;
    background-position: center;
    /* background-color: lightgrey; */
    pointer-events: none;
}

.empty {
    pointer-events: none;
    background-image: url('../media/empty.gif') !important;
    background-size: cover;
    background-position: center;
}