:root {
    --backgroundColor: transparent;
    --body-background-color: #1d242c;
    --content-background-color: #292f37;
  }

/* Font import */

@font-face {
    font-family: rijksoverheidSansHeading;
    src: url("../media/font/rijksoverheidsansheading-bold.ttf");
}

@font-face {
    font-family: rijksoverheidSansText;
    src: url("../media/font/rijksoverheidsanstext-regular.ttf");
}

@font-face {
    font-family: rijksoverheidSans;
    src: url("../media/font/rijksoverheidserif-regular.ttf");
}

/* Main styling */

* {
    margin: 0;
    padding: 0;
}

table h1 {
    font-size: 11vw;
}

body {
    background-color: var(--body-background-color);
    font-family: Roboto, Arial;
    color:white;
    display: flex;
    flex-direction: column;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    overflow-y: hidden;
}

button, .button {
    background-color: #0a9bd8;
    border: none;
    color: black;
    padding: 8px 32px;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

table {
    margin: auto auto 10px;
    color:white;
}

td {
    padding: 20px;
}

.sectionButton {
    display: flex;
    margin: 0 auto auto;
}

.sectionButton .button {
    margin: 0 auto auto;
    height: 50%;
}

/* Header styling */

.header {
    display: flex;
    flex-shrink: 0;
    height: 40px;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.header nav {
    display: flex;
    position: relative;
    height: 40px;
}

.headerLogo {
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    font-size: 14px;
}

/* Section styling */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    /* background-image: url("../media/backgroundShips.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.sectionContent {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--content-background-color);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 3px 20px #0000001a;
}

/* Progess bar result page */

progress {
    border: black 2px solid;
    border-radius: 10px;
    width: 300px;
    height: 20px;
}
progress::-webkit-progress-bar {
    background-color: transparent;
}

progress::-webkit-progress-value {
    background: #0a9bd8;
    border-radius: 15px;
}

.flex {
    display: flex;
}

.hide {
    display: none;
}
.draggable {
    user-select: all;
    -webkit-user-select: all;
    -webkit-user-drag: element;
}
